body{
    background-color: #e6e6e6;
}

header{
    background-color: rgba(0, 0, 0, 0.247);
    position: sticky;
    padding: 30px;
}

nav{
    display: inline-block;
    margin-left: 130px;
}

nav a{
    text-decoration: none;
    color: rgb(188, 25, 25);
    padding: 10px 30px 10px 30px;
    margin: 0 10px 0 10px;
    border-radius: 15px;
}

.nav a:hover{
    background-color: rgba(0, 0, 0, 0.21);
}

article
{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

#Home-logo{
    margin-top: -15px;
    margin-left: -50px;
    width: 50px;
    height: 50px;
    float: left;
}

#Home-logo{
    background-color: transparent;
}

