html, body{
    height: 100%;
    margin: 0;
}

body{
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 25px;
}

nav{
    display: inline-block;
    margin-left: 130px;
}

nav a{
    text-decoration: none;
    color: rgb(188, 25, 25);
    padding: 10px 30px 10px 30px;
    margin: 0 10px 0 10px;
    border-radius: 15px;
}

.nav a:hover{
    background-color: rgba(0, 0, 0, 0.21);
}

article
{
    padding: 20px;
    border-radius: 15px;
    flex: 1;
}

#Home-logo{
    margin-top: -15px;
    margin-left: -50px;
    width: 50px;
    height: 50px;
    float: left;
}

#Home-logo{
    background-color: transparent;
}

hr{
    background-color: rgb(188, 25, 25);
    height: 1px;
}

footer{
    display: grid;
    font-size: 0.875rem;

}

.title{
    line-height: 1.2;
    font-weight: 600;
    color: #575656;
    margin-bottom: 1rem;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

.top{
    padding: 3.5rem;
}

.bedrijven{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
    margin-top: 1rem;
}

.bedrijvenlijst{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
#iframe{
    text-align: center;
    margin-top: 10px;
    float: right;
    width: 500px;
}
.contactgegevens{
    color:#575656;
}
.inhoud_deel {
    background: rgba(0, 0, 0, 0.105);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.inhoud_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.copyright{
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.247);
    color: rgb(188, 25, 25);
    padding: 5px;
    width: 100%;
}